body{
    font-family: "Poppins", sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
} 
.Name-Highlight
{
    color:orange;
}
.half-width
{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
width: 100%;
}
.top-banner{
    background-image: url("Resource/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom:150px ;
}
.link-button{
    text-decoration: none;
    background: radial-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 10%;
    color: white;
    font-weight:700 ;
}
.dream-area{
    background-image: url(Resource/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(Resource/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 20%;
}
.single-exp{
    box-shadow: 10px 10px 40px gray;
    height: 300px;
    border-radius: 10px;
}
#ruet{
    border-left: 7px solid;
    border-color: lightsalmon;
}
#Bdapps{
    border-left: 7px solid;
    border-color: blueviolet;
}
footer p{
    text-align:center;
    font-size: small;
}